main.aux
main.bcf
main.toc
main.synctex.gz
main.run.xml
main.pdf
main.out
main.lot
main.log
main.lof
main.bbl
main.blg
main.fdb_latexmk
main.fls
chapters/chapter2.aux
chapters/chapter4.aux
chapters/chapter5.aux
chapters/chapter3.aux
chapters/chapter1.aux
